
/*---=====================
    13. Sections css 
======================----*/


.adventure-bgc-section{
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 54%;
        height: 100%;
        background-color: #F9F9F7;
        z-index: -1;
        @media #{$xm}{
            width: 100%;
        }
    }
    & .ad-bgc-shape{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: $orange;
        @media #{$xm}{
            display: none;
        }
    }
    & .ad-bg-shape{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 70%;
        background-size: contain;
        @media #{$xm}{
            display: none;
        }
    }
}

.choose-bg-section{
    & .choose-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        @media #{$lm}{
            display: none;
        }
    }
}

.who-we-bg-section{
    & .who-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        z-index: -1;
        @media #{$xs}{
            display: none;
        }
    }
}


.video-bg-section{
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(28, 35, 31, 0.55);
        mix-blend-mode: multiply;
        z-index: -1;
    }
}


.features-bg-section{
    & .features-bg{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        @media #{$lm}{
            width: 45%;
        }
        @media #{$xm}{
           display: none;
        }
    }
    & .features-bg-two{
        position: absolute;
        top: 0;
        left: 70px;
        width: 46%;
        height: 100%;
        z-index: -1;
        @media #{$lg}{
            left: 0;
        }
        @media #{$xm}{
            display: none;
        }
    }
}

.testimonial-bg-section{
    & .testimonial-bg{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 30%;
        z-index: -1;
    }
    .slick-slider .slick-arrow{
        background-color: #523a1d;
    }
}

.contact-bg-section{
    background-size: contain;
    background-position: bottom center;
}


.feedback-wrapper-one{
    & .testimonial-wrapper{
        padding: 50px 50px;
        background-color: #F9F9F7;
        border-radius: 7px;
        @media #{$lm}{
            padding: 50px 30px;
        }
        @media #{$xs}{
            padding: 50px 15px;
        }
    }
}

.who-we-wrapper{
    background-color: #F9F9F7;
    padding: 60px 100px 40px;
    @media #{$lp}{
        padding: 60px 50px 40px;
    }
    @media #{$lm}{
        padding: 60px 50px 40px;
    }
    @media #{$xss}{
        padding: 60px 15px 40px;
    }
    & .fancy-icon-box{
        &.item-active{
            background-color: #fff;
            box-shadow: 0px 10px 60px rgba(28, 35, 31, 0.07);
            border-radius: 12px;
        }
    }
}


.accommodation-form-wrapper{
    padding: 32px 60px 40px;
    background-color: #F9F9F7;
    @media #{$lm}{
        padding: 32px 30px 40px;
    }
    & .accommodation-form-two{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 30px;
        @media #{$lp}{
            gap: 15px;
            justify-content: space-between;
        }
        @media #{$lm}{
            gap: 15px;
            justify-content: center;
        }
        & .form_group{
            flex: 0 0 auto;
            width: 18.5%;
            @media #{$lm}{
                width: 48%;
            }
            @media #{$xm}{
                width: 100%;
            }
        }
    }
}

.accommodation-details-section .service-image-wrapper {
    .slick-slide, .slick-slide img {
        aspect-ratio: 4 / 3;
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.cta-content-wrapper{
    padding: 60px 60px;
    background-color: #F9F9F7;
    border-radius: 14px;
    max-width: 500px;
    @media #{$lp}{
        padding: 60px 50px;
    }
    @media #{$xs}{
        padding: 60px 30px;
    }
    & h3{
        font-size: 35px;
        margin-bottom: 30px;
        @media #{$xs}{
            font-size: 24px;
        }
        &:after{
            display: block;
            margin-top: 30px;
            content: '';
            width: 60px;
            height: 5px;
            background: url(../images/line.png) no-repeat;
        }
    }
    & p{
        margin-bottom: 30px;
    }
}

.play-wrapper-one{
    min-height: 750px;
    @extend %flex-center;
    margin: 0 80px;
    @media #{$lm}{
        min-height: 550px;
        margin: 0 30px;
    }
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(28, 35, 31, 0.2);
        z-index: -1;
    }
    & .video-popup{
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background-color: #fff;
        @extend %secondary-color;
        @extend %flex-center;
    }
}

.counter-bg-wrapper{
    background-size: contain;
    &.text-white{
        & .counter-item{
            & .icon{
                & i{
                    color: #fff;
                }
            }
        }
    }
}

.contact-form-wrapper {
    box-shadow: 0px 10px 60px rgba(28, 35, 31, 0.07);
    border-radius: 12px;
    background-color: #fff;
    padding: 40px;

    & h3.title {
        margin-bottom: 10px;
    }

    & p {
        margin-bottom: 30px;
        line-height: 1.6;
    }

    & form.contact-form {
        & .form_control {
            margin-bottom: 10px;
        }
    }
}