@media print {
  header, footer, .btn--booking, .page-banner, .back-to-top {
    display: none !important;
  }
  .booking-voucher {
    padding: 0 !important;
  }
  .booking-voucher .receipt-content {
    box-shadow: none;
  }
  .booking-voucher .title--initial {
    font-size: 23px;
  }
  .booking-voucher .title--initial svg, .booking-voucher .title--initial br {
    display: none;
  }
  .booking-voucher .title--primary {
    text-align: center;
    font-size: 18px;
    text-decoration: underline from-font #767676;
  }
  .booking-voucher .title--primary span {
    text-decoration: underline from-font #767676;
  }
  .booking-voucher strong {
    font-size: 13px;
  }
  .booking-voucher p {
    font-size: 11px;
  }
  .booking-voucher h1, .booking-voucher h2, .booking-voucher h3, .booking-voucher h4, .booking-voucher h5, .booking-voucher h6 {
    margin: 0 0 15px;
  }
  .booking-voucher .table-responsive, .booking-voucher .bg-gray {
    margin-top: 0 !important;
  }
  .table thead tr th {
    font-size: 14px;
  }
  .table tbody tr td {
    padding: 0px 35px;
    font-size: 12px;
  }
  .table tbody tr .total, .table tbody tr .total-price {
    font-size: 14px;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .address-block {
    flex: 0 0 auto;
    width: 50%;
  }
  .pe-md-5 {
    padding-right: 0 !important;
  }
  .ps-md-5 {
    padding-left: 0 !important;
  }
  .px-md-5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
