$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?eae9b978f59106c13c6b88b8e0b74dfc") format("truetype"),
url("./flaticon.woff?eae9b978f59106c13c6b88b8e0b74dfc") format("woff"),
url("./flaticon.woff2?eae9b978f59106c13c6b88b8e0b74dfc") format("woff2"),
url("./flaticon.eot?eae9b978f59106c13c6b88b8e0b74dfc#iefix") format("embedded-opentype"),
url("./flaticon.svg?eae9b978f59106c13c6b88b8e0b74dfc#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "cottage": "\f101",
    "camping": "\f102",
    "firewood": "\f103",
    "hiking": "\f104",
    "tent-1": "\f105",
    "branch": "\f106",
    "tent-2": "\f107",
    "bedding": "\f108",
    "cat": "\f109",
    "tent-3": "\f10a",
    "campfire": "\f10b",
    "tent-4": "\f10c",
    "sports": "\f10d",
    "facebook-app-symbol": "\f10e",
    "twitter": "\f10f",
    "instagram": "\f110",
    "linkedin": "\f111",
    "tent-5": "\f112",
    "cottage-1": "\f113",
    "tent-6": "\f114",
    "hiking-1": "\f115",
    "campfire-1": "\f116",
    "eco-house": "\f117",
    "washing-machine": "\f118",
    "quote": "\f119",
    "sink": "\f11a",
    "fridge": "\f11b",
    "camping-gas": "\f11c",
    "pot": "\f11d",
    "eat": "\f11e",
    "solar-energy": "\f11f",
    "wc": "\f120",
    "shower": "\f121",
    "toilet-paper": "\f122",
    "hair-dryer": "\f123",
    "essential-oil": "\f124",
    "blanket": "\f125",
    "ac": "\f126",
    "bed": "\f127",
    "guitar": "\f128",
    "bonfire": "\f129",
    "beach-chair": "\f12a",
    "bicycle": "\f12b",
    "massage": "\f12c",
    "camp": "\f12d",
    "van": "\f12e",
    "bonfire-1": "\f12f",
    "draw-check-mark": "\f130",
    "sea-waves": "\f131",
    "hiking-2": "\f132",
    "quotation": "\f133",
    "roast-chicken": "\f134",
    "star-gazing": "\f135",
    "reptile": "\f136",
    "dome": "\f137",
    "playground": "\f138",
);

.flaticon-cottage:before {
    content: map-get($flaticon-map, "cottage");
}
.flaticon-camping:before {
    content: map-get($flaticon-map, "camping");
}
.flaticon-firewood:before {
    content: map-get($flaticon-map, "firewood");
}
.flaticon-hiking:before {
    content: map-get($flaticon-map, "hiking");
}
.flaticon-tent-1:before {
    content: map-get($flaticon-map, "tent-1");
}
.flaticon-branch:before {
    content: map-get($flaticon-map, "branch");
}
.flaticon-tent-2:before {
    content: map-get($flaticon-map, "tent-2");
}
.flaticon-bedding:before {
    content: map-get($flaticon-map, "bedding");
}
.flaticon-cat:before {
    content: map-get($flaticon-map, "cat");
}
.flaticon-tent-3:before {
    content: map-get($flaticon-map, "tent-3");
}
.flaticon-campfire:before {
    content: map-get($flaticon-map, "campfire");
}
.flaticon-tent-4:before {
    content: map-get($flaticon-map, "tent-4");
}
.flaticon-sports:before {
    content: map-get($flaticon-map, "sports");
}
.flaticon-facebook-app-symbol:before {
    content: map-get($flaticon-map, "facebook-app-symbol");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-tent-5:before {
    content: map-get($flaticon-map, "tent-5");
}
.flaticon-cottage-1:before {
    content: map-get($flaticon-map, "cottage-1");
}
.flaticon-tent-6:before {
    content: map-get($flaticon-map, "tent-6");
}
.flaticon-hiking-1:before {
    content: map-get($flaticon-map, "hiking-1");
}
.flaticon-campfire-1:before {
    content: map-get($flaticon-map, "campfire-1");
}
.flaticon-eco-house:before {
    content: map-get($flaticon-map, "eco-house");
}
.flaticon-washing-machine:before {
    content: map-get($flaticon-map, "washing-machine");
}
.flaticon-quote:before {
    content: map-get($flaticon-map, "quote");
}
.flaticon-sink:before {
    content: map-get($flaticon-map, "sink");
}
.flaticon-fridge:before {
    content: map-get($flaticon-map, "fridge");
}
.flaticon-camping-gas:before {
    content: map-get($flaticon-map, "camping-gas");
}
.flaticon-pot:before {
    content: map-get($flaticon-map, "pot");
}
.flaticon-eat:before {
    content: map-get($flaticon-map, "eat");
}
.flaticon-solar-energy:before {
    content: map-get($flaticon-map, "solar-energy");
}
.flaticon-wc:before {
    content: map-get($flaticon-map, "wc");
}
.flaticon-shower:before {
    content: map-get($flaticon-map, "shower");
}
.flaticon-toilet-paper:before {
    content: map-get($flaticon-map, "toilet-paper");
}
.flaticon-hair-dryer:before {
    content: map-get($flaticon-map, "hair-dryer");
}
.flaticon-essential-oil:before {
    content: map-get($flaticon-map, "essential-oil");
}
.flaticon-blanket:before {
    content: map-get($flaticon-map, "blanket");
}
.flaticon-ac:before {
    content: map-get($flaticon-map, "ac");
}
.flaticon-bed:before {
    content: map-get($flaticon-map, "bed");
}
.flaticon-guitar:before {
    content: map-get($flaticon-map, "guitar");
}
.flaticon-bonfire:before {
    content: map-get($flaticon-map, "bonfire");
}
.flaticon-beach-chair:before {
    content: map-get($flaticon-map, "beach-chair");
}
.flaticon-bicycle:before {
    content: map-get($flaticon-map, "bicycle");
}
.flaticon-massage:before {
    content: map-get($flaticon-map, "massage");
}
.flaticon-camp:before {
    content: map-get($flaticon-map, "camp");
}
.flaticon-van:before {
    content: map-get($flaticon-map, "van");
}
.flaticon-bonfire-1:before {
    content: map-get($flaticon-map, "bonfire-1");
}
.flaticon-draw-check-mark:before {
    content: map-get($flaticon-map, "draw-check-mark");
}
.flaticon-sea-waves:before {
    content: map-get($flaticon-map, "sea-waves");
}
.flaticon-hiking-2:before {
    content: map-get($flaticon-map, "hiking-2");
}
.flaticon-quotation:before {
    content: map-get($flaticon-map, "quotation");
}
.flaticon-roast-chicken:before {
    content: map-get($flaticon-map, "roast-chicken");
}
.flaticon-star-gazing:before {
    content: map-get($flaticon-map, "star-gazing");
}
.flaticon-reptile:before {
    content: map-get($flaticon-map, "reptile");
}
.flaticon-dome:before {
    content: map-get($flaticon-map, "dome");
}
.flaticon-playground:before {
    content: map-get($flaticon-map, "playground");
}
